DROP DATABASE TusSonrisasSaludables
GO

CREATE DATABASE TusSonrisasSaludables
GO

USE TusSonrisasSaludables
GO

-------------------------------- Tablas de la BD ------------------------------------------------------
CREATE TABLE Roles(
RoleID INT PRIMARY KEY IDENTITY NOT NULL,
RoleType VARCHAR(20) UNIQUE NOT NULL)
GO

CREATE TABLE IdentificationTypes(
TypeID INT PRIMARY KEY IDENTITY NOT NULL,
IdType VARCHAR(20) UNIQUE NOT NULL)
GO

CREATE TABLE Provinces(
ProvinceID INT PRIMARY KEY IDENTITY NOT NULL,
ProvinceName VARCHAR(20) UNIQUE NOT NULL)
GO

CREATE TABLE Genres(
GenreID INT PRIMARY KEY IDENTITY NOT NULL,
GenreName VARCHAR(15) UNIQUE NOT NULL)
GO

CREATE TABLE Users(
UserID INT PRIMARY KEY IDENTITY NOT NULL,
RoleID INT NOT NULL,
TypeID INT NOT NULL,
GenreID INT NOT NULL,
ProvinceID INT NOT NULL,
IdNumber VARCHAR(11) UNIQUE NOT NULL,
UserName VARCHAR(100) NOT NULL,
FirstName VARCHAR(100) NOT NULL,
LastName VARCHAR(100) NOT NULL,
BirthDate DATE DEFAULT GETDATE() NOT NULL,
Email VARCHAR(100) UNIQUE NOT NULL,
PhoneNumber VARCHAR(9) UNIQUE NOT NULL,
UserAddress VARCHAR(450) NOT NULL,
PasswordHash VARCHAR(100) NOT NULL,
FOREIGN KEY (RoleID) REFERENCES Roles,
FOREIGN KEY (TypeID) REFERENCES IdentificationTypes,
FOREIGN KEY (GenreID) REFERENCES Genres,
FOREIGN KEY (ProvinceID) REFERENCES Provinces,
CHECK (IdNumber like '[1-8]-[0-9][0-9][0-9][0-9]-[0-9][0-9][0-9][0-9]' 
AND Email like '%_@_%._%' AND PhoneNumber like '[2,5,6,7,8][0-9][0-9][0-9]-[0-9][0-9][0-9][0-9]' 
AND NOT UserName like '%[0-9%$#&<>?+-?%]%' AND NOT FirstName like '%[0-9%$#&<>?+-?%]%' AND NOT LastName like '%[0-9%$#&<>?+-?%]%'))
GO

CREATE TABLE Brands(
BrandID INT PRIMARY KEY IDENTITY NOT NULL,
BrandName VARCHAR(50) UNIQUE NOT NULL)
GO

CREATE TABLE Categories(
CategoryID INT PRIMARY KEY IDENTITY,
MainCategoryID INT NULL,
CategoryName VARCHAR(20) UNIQUE NOT NULL,
FOREIGN KEY (CategoryID) REFERENCES Categories)
GO

CREATE TABLE Specialties(
SpecialtyID INT PRIMARY KEY IDENTITY NOT NULL,
SpecialtyName VARCHAR(50) UNIQUE NOT NULL)
GO

CREATE TABLE Doctors(
DoctorID INT PRIMARY KEY IDENTITY NOT NULL,
TypeID INT NOT NULL,
SpecialtyID INT NOT NULL,
GenreID INT NOT NULL,
IdNumber VARCHAR(15) UNIQUE NOT NULL,
DoctorName VARCHAR(20) NOT NULL,
FirstName VARCHAR(30) NOT NULL,
LastName VARCHAR(30) NOT NULL,
BirthDate DATE DEFAULT GETDATE() NOT NULL,
Email VARCHAR(50) UNIQUE NOT NULL,
PhoneNumber VARCHAR(9) UNIQUE NOT NULL,
DoctorPhoto IMAGE NULL DEFAULT NULL,
FOREIGN KEY (TypeID) REFERENCES IdentificationTypes,
FOREIGN KEY (GenreID) REFERENCES Genres,
FOREIGN KEY (SpecialtyID) REFERENCES Specialties,
CHECK (IdNumber like '[1-8]-[0-9][0-9][0-9][0-9]-[0-9][0-9][0-9][0-9]' 
AND Email like '%_@_%._%' AND PhoneNumber like '[2,5,6,7,8][0-9][0-9][0-9]-[0-9][0-9][0-9][0-9]' 
AND NOT DoctorName like '%[0-9%$#&<>?+-?%]%' AND NOT FirstName like '%[0-9%$#&<>?+-?%]%' AND NOT LastName like '%[0-9%$#&<>?+-?%]%'))
GO

CREATE TABLE Appointments(
AppointmentID INT PRIMARY KEY IDENTITY NOT NULL,
UserID INT NULL,
DoctorID INT NULL,
SpecialtyID INT NOT NULL,
StartTime DATETIME DEFAULT GETDATE() UNIQUE NOT NULL,
EndTime DATETIME DEFAULT GETDATE() UNIQUE NOT NULL,
FOREIGN KEY (UserID) REFERENCES Users,
FOREIGN KEY (DoctorID) REFERENCES Doctors,
FOREIGN KEY (SpecialtyID) REFERENCES Specialties)
GO

CREATE TABLE Products(
ProductID INT PRIMARY KEY IDENTITY NOT NULL,
BrandID INT NOT NULL,
CategoryID INT NOT NULL,
ProductName VARCHAR(100) UNIQUE NOT NULL,
ProductDescription VARCHAR(400) NOT NULL,
UnitPrice DECIMAL(12, 2) NOT NULL DEFAULT 0,
Stock INT NOT NULL DEFAULT 0,
ProductImage IMAGE NULL,
FOREIGN KEY (BrandID) REFERENCES Brands,
FOREIGN KEY (CategoryID) REFERENCES Categories)
GO

CREATE TABLE ClinicProcedures(
ProcedureID INT PRIMARY KEY IDENTITY NOT NULL,
ProcedureName VARCHAR(100) UNIQUE NOT NULL)
GO

CREATE TABLE PatientRecords(
RecordID INT PRIMARY KEY IDENTITY NOT NULL,
UserID INT NOT NULL,
DoctorID INT NOT NULL,
ProcedureID INT NOT NULL,
Diagnoses VARCHAR(450) NOT NULL,
Symptoms VARCHAR(450) NOT NULL,
Treatment VARCHAR(450) NOT NULL,
RecordDate DATETIME DEFAULT GETDATE() NOT NULL,
FOREIGN KEY (UserID) REFERENCES Users,
FOREIGN KEY (DoctorID) REFERENCES Doctors,
FOREIGN KEY (ProcedureID) REFERENCES ClinicProcedures)
GO

CREATE TABLE ShoppingCarts(
CartID INT PRIMARY KEY IDENTITY NOT NULL,
UserID INT NULL,
CreationDate DATETIME DEFAULT GETDATE() NULL,
Total DECIMAL(12, 2) NULL,
FOREIGN KEY (UserID) REFERENCES Users)
GO

CREATE TABLE ShoppingDetails(
DetailID INT PRIMARY KEY IDENTITY NOT NULL,
CartID INT NULL,
ProductID INT NULL,
Quantity INT NULL,
UnitPrice DECIMAL(12, 2) NULL,
Taxes DECIMAL(3, 2) NULL,
SubTotal DECIMAL(12, 2) NULL,
FOREIGN KEY (CartID) REFERENCES ShoppingCarts,
FOREIGN KEY (ProductID) REFERENCES Products)
GO

CREATE TABLE UsersTriggers(
TriggerID INT PRIMARY KEY IDENTITY NOT NULL,
CreatedBy VARCHAR(50) NOT NULL,
UserData VARCHAR(100) NOT NULL,
TriggerReason VARCHAR(200) NOT NULL,
TriggerDate DATETIME DEFAULT GETDATE() NOT NULL)
GO

CREATE TABLE Recomendations (
RecomendationID INT PRIMARY KEY IDENTITY NOT NULL,
UserID INT NOT NULL, 
SpecialtyID INT NOT NULL,
Information VARCHAR(MAX) NOT NULL,
PostDate DATE NOT NULL DEFAULT CURRENT_TIMESTAMP,
FOREIGN KEY (UserID) REFERENCES Users,
FOREIGN KEY (SpecialtyID) REFERENCES Specialties)
GO

INSERT INTO Recomendations VALUES (1, 1, 'Sabías que los dientes de leche salen a la edad de 5 meses? Que loco, verdad?', GETDATE())
GO
-------------------------------------------- Vistas de la BD --------------------------------------------------------------------------
CREATE OR ALTER VIEW VW_Roles AS
SELECT * FROM Roles
GO

CREATE OR ALTER VIEW VW_Recomendations AS
SELECT RecomendationID, PostDate, UserName + ' ' + FirstName + ' ' + LastName AS 'Full Name', SpecialtyName, Information FROM Recomendations
INNER JOIN Users ON Recomendations.UserID = Users.UserID INNER JOIN Specialties ON Specialties.SpecialtyID = Recomendations.SpecialtyID
GO

CREATE OR ALTER VIEW VW_Categories AS
SELECT CategoryID, CategoryName FROM Categories WHERE MainCategoryID IS NULL
GO

CREATE OR ALTER VIEW VW_SubCategories AS
SELECT SC.CategoryID, MC.CategoryName AS 'MainCategory', SC.CategoryName AS 'SubCategory' FROM Categories SC
INNER JOIN Categories MC ON SC.MainCategoryID = MC.CategoryID WHERE SC.MainCategoryID IS NOT NULL
GO

CREATE OR ALTER VIEW VW_Brands AS
SELECT * FROM Brands
GO

CREATE OR ALTER VIEW VW_Genres AS
SELECT * FROM Genres
GO

CREATE OR ALTER VIEW VW_Users AS
SELECT UserID, IDNumber, ProvinceName, Username + ' ' + FirstName + ' ' + LastName AS 'Full Name', GenreName, BirthDate, Email, PhoneNumber FROM Users INNER JOIN
Provinces ON Users.ProvinceID = Provinces.ProvinceID INNER JOIN Genres ON Users.GenreID = Genres.GenreID
GO

CREATE OR ALTER VIEW VW_Provinces AS
SELECT * FROM Provinces
GO

CREATE OR ALTER VIEW VW_Identifications AS
SELECT * FROM IdentificationTypes
GO

CREATE OR ALTER VIEW VW_Appointments AS
SELECT AppointmentID, ISNULL(DoctorName + ' ' + FirstName + ' ' + LastName, 'No Definido') AS 'Doctor',
SpecialtyName, StartTime, EndTime FROM Appointments 
LEFT JOIN Doctors ON Appointments.DoctorID = Doctors.DoctorID 
INNER JOIN Specialties ON Appointments.SpecialtyID = Specialties.SpecialtyID
GO

CREATE OR ALTER VIEW VW_AdminAppointments AS
SELECT AppointmentID, ISNULL(D.DoctorName + ' ' + D.FirstName + ' ' + D.LastName, 'No Definido') AS 'Doctor', 
ISNULL(U.UserName + ' ' + U.FirstName + ' ' + U.LastName, 'Espacio libre') AS 'Pacient Name', 
SpecialtyName, StartTime, EndTime FROM Appointments
LEFT JOIN Doctors D ON Appointments.DoctorID = D.DoctorID 
LEFT JOIN Users U ON Appointments.UserID = U.UserID
INNER JOIN Specialties ON Appointments.SpecialtyID = Specialties.SpecialtyID 
GO

CREATE OR ALTER VIEW VW_Products AS
SELECT ProductID, BrandName, CategoryName, ProductName, ProductDescription AS 'Description', CONCAT('₡', UnitPrice) AS 'UnitPrice', Stock, ProductImage
FROM Products INNER JOIN Brands ON Products.BrandID = Brands.BrandID 
INNER JOIN Categories ON Products.CategoryID = Categories.CategoryID
GO

CREATE OR ALTER VIEW VW_Specialties 
AS
SELECT * FROM Specialties
GO

CREATE OR ALTER VIEW VW_Procedures 
AS
SELECT * FROM ClinicProcedures
GO

CREATE OR ALTER VIEW VW_Doctors AS
SELECT DoctorID, IdNumber, Specialties.SpecialtyName, DoctorName + ' ' + FirstName + ' ' + LastName AS 'Full Name', 
BirthDate, Email, PhoneNumber, DoctorPhoto 
FROM Doctors INNER JOIN Specialties ON Doctors.SpecialtyID = Specialties.SpecialtyID
GO

CREATE OR ALTER VIEW VW_Records AS
SELECT RecordID, U.UserName + ' ' + U.FirstName + ' ' + U.LastName AS 'Patient Name', D.DoctorName + ' ' + D.FirstName + ' ' + D.LastName AS 'Doctor Name', ProcedureName,
Diagnoses, Symptoms, Treatment, RecordDate FROM PatientRecords 
INNER JOIN Users U ON PatientRecords.UserID = U.UserID 
INNER JOIN Doctors D ON PatientRecords.DoctorID = D.DoctorID
INNER JOIN ClinicProcedures ON PatientRecords.ProcedureID = ClinicProcedures.ProcedureID
GO

-------------------------------------------------------------------------------------------------------------------------------------------

----------------------------------------- Procedimientos de la BD -----------------------------------------------------------------

------------------------------------------ SP Users ----------------------------------------------------------------------------------------
CREATE OR ALTER PROCEDURE SP_CreateAdminUser
@TypeID INT, 
@GenreID INT, 
@ProvinceID INT,
@IDNumber VARCHAR(11),
@Username VARCHAR(100),
@FirstName VARCHAR(100),
@LastName VARCHAR(100),
@BirthDate DATE,
@Email VARCHAR(100),
@Phone VARCHAR(9), 
@UserAddress VARCHAR(450), 
@Password VARCHAR(100)
AS
BEGIN
SET NOCOUNT ON
IF NOT @IDNumber LIKE '[1-8]-[0-9][0-9][0-9][0-9]-[0-9][0-9][0-9][0-9]'
BEGIN
RAISERROR ('El número de cédula no tiene el formato correcto.', 16, 1);
RETURN;
END

IF EXISTS (SELECT 1 FROM Users WHERE IdNumber = @IDNumber)
BEGIN
RAISERROR ('El número de cédula ya existe.', 16, 1);
RETURN;
END
ELSE 

IF NOT @Phone LIKE '[2,5,6,7,8][0-9][0-9][0-9]-[0-9][0-9][0-9][0-9]'
BEGIN
RAISERROR ('El número de teléfono no tiene el formato correcto.', 16, 1);
RETURN;
END

IF EXISTS (SELECT 1 FROM Users WHERE PhoneNumber = @Phone)
BEGIN
RAISERROR ('El número de teléfono ya existe.', 16, 1);
RETURN;
END
ELSE 

IF NOT @Email LIKE '%_@_%._%'
BEGIN
RAISERROR ('El correo electrónico no tiene el formato correcto.', 16, 1);
RETURN;
END
ELSE

IF EXISTS (SELECT 1 FROM Users WHERE Email = @Email)
BEGIN
RAISERROR ('El correo electrónico ya existe.', 16, 1);
RETURN;
END
ELSE

DECLARE @PassHash VARCHAR(100) = CONVERT(VARCHAR(100), HASHBYTES('SHA2_512', @Password), 2);
INSERT INTO Users VALUES (1, @TypeID, @GenreID, @ProvinceID, @IDNumber, @Username, @FirstName, 
@LastName, @BirthDate, @Email, @Phone, @UserAddress, @PassHash)
SELECT 'Administrador creado correctamente.' AS Mensaje
END
GO

CREATE OR ALTER PROCEDURE SP_CreateUser
@TypeID INT, 
@GenreID INT, 
@ProvinceID INT,
@IDNumber VARCHAR(11),
@Username VARCHAR(100),
@FirstName VARCHAR(100),
@LastName VARCHAR(100),
@BirthDate DATE,
@Email VARCHAR(100),
@Phone VARCHAR(9), 
@UserAddress VARCHAR(450), 
@Password VARCHAR(100)
AS
BEGIN
SET NOCOUNT ON

IF NOT @IDNumber LIKE '[1-8]-[0-9][0-9][0-9][0-9]-[0-9][0-9][0-9][0-9]'
BEGIN
RAISERROR ('El número de cédula no tiene el formato correcto.', 16, 1);
RETURN;
END

IF EXISTS (SELECT 1 FROM Users WHERE IdNumber = @IDNumber)
BEGIN
RAISERROR ('El número de cédula ya existe.', 16, 1);
RETURN;
END
ELSE 

IF NOT @Phone LIKE '[2,5,6,7,8][0-9][0-9][0-9]-[0-9][0-9][0-9][0-9]'
BEGIN
RAISERROR ('El número de teléfono no tiene el formato correcto.', 16, 1);
RETURN;
END

IF EXISTS (SELECT 1 FROM Users WHERE PhoneNumber = @Phone)
BEGIN
RAISERROR ('El número de teléfono ya existe.', 16, 1);
RETURN;
END
ELSE 

IF NOT @Email LIKE '%_@_%._%'
BEGIN
RAISERROR ('El correo electrónico no tiene el formato correcto.', 16, 1);
RETURN;
END
ELSE

IF EXISTS (SELECT 1 FROM Users WHERE Email = @Email)
BEGIN
RAISERROR ('El correo electrónico ya existe.', 16, 1);
RETURN;
END
ELSE 

DECLARE @PassHash VARCHAR(100) = CONVERT(VARCHAR(100), HASHBYTES('SHA2_512', @Password), 2);

INSERT INTO Users VALUES (2, @TypeID, @GenreID, @ProvinceID, @IDNumber, @Username, @FirstName, @LastName, @BirthDate, 
@Email, @Phone, @UserAddress, @PassHash)
PRINT 'Usuario creado correctamente.'
RETURN
END
GO

CREATE OR ALTER PROCEDURE SP_GetUserView 
@ID INT AS
BEGIN
IF NOT EXISTS (SELECT 1 FROM VW_Users WHERE UserID = @ID)
BEGIN
RAISERROR ('El usuario no existe.', 16, 1)
RETURN;
END 

SELECT * FROM VW_Users WHERE UserID = @ID
END
GO

CREATE OR ALTER PROCEDURE SP_GetUser
@ID INT AS
BEGIN
IF NOT EXISTS (SELECT 1 FROM Users WHERE UserID = @ID)
BEGIN
RAISERROR ('El usuario no existe.', 16, 1)
RETURN;
END 

SELECT * FROM Users WHERE UserID = @ID
END
GO

CREATE OR ALTER PROCEDURE SP_GetUsers AS
BEGIN
SET NOCOUNT ON
SELECT * FROM Users 
END
GO

CREATE OR ALTER PROCEDURE SP_GetUsersView AS
BEGIN
SET NOCOUNT ON
SELECT * FROM VW_Users 
END
GO

CREATE OR ALTER PROCEDURE SP_EditUser
@ID INT,
@TypeID INT, 
@GenreID INT, 
@ProvinceID INT,
@IDNumber VARCHAR(11),
@Username VARCHAR(100),
@FirstName VARCHAR(100),
@LastName VARCHAR(100),
@BirthDate DATE,
@Email VARCHAR(100),
@Phone VARCHAR(9), 
@UserAddress VARCHAR(450), 
@Password VARCHAR(128)
AS
BEGIN

IF NOT @IDNumber LIKE '[1-8]-[0-9][0-9][0-9][0-9]-[0-9][0-9][0-9][0-9]'
BEGIN
RAISERROR ('El número de cédula no tiene el formato correcto.', 16, 1);
RETURN;
END

IF EXISTS (SELECT 1 FROM Users WHERE IdNumber = @IDNumber AND UserID != @ID)
BEGIN
RAISERROR ('El número de cédula ya existe.', 16, 1);
RETURN;
END
ELSE 

IF NOT @Phone LIKE '[2,5,6,7,8][0-9][0-9][0-9]-[0-9][0-9][0-9][0-9]'
BEGIN
RAISERROR ('El número de teléfono no tiene el formato correcto.', 16, 1);
RETURN;
END

IF EXISTS (SELECT 1 FROM Users WHERE PhoneNumber = @Phone AND UserID != @ID)
BEGIN
RAISERROR ('El número de teléfono ya existe.', 16, 1);
RETURN;
END
ELSE 

IF NOT @Email LIKE '%_@_%._%'
BEGIN
RAISERROR ('El correo electrónico no tiene el formato correcto.', 16, 1);
RETURN;
END
ELSE

IF EXISTS (SELECT 1 FROM Users WHERE Email = @Email AND UserID != @ID)
BEGIN
RAISERROR ('El correo electrónico ya existe.', 16, 1);
RETURN;
END

DECLARE @PassHash VARCHAR(128) = CONVERT(VARCHAR(128), HASHBYTES('SHA2_256', @Password), 2);
UPDATE Users SET 
TypeID = @TypeID, GenreID = @GenreID, ProvinceID = @ProvinceID, IdNumber = @IDNumber, 
UserName = @Username, FirstName = @FirstName, LastName = @LastName, BirthDate = @BirthDate, Email = @Email, 
PhoneNumber = @Phone, UserAddress = @UserAddress, PasswordHash = @PassHash WHERE UserID = @ID
PRINT 'Usuario actualizado con éxito.'
RETURN
END
GO

CREATE OR ALTER PROCEDURE SP_DeleteUser 
@ID INT AS
BEGIN
IF NOT EXISTS (SELECT 1 FROM Users WHERE UserID = @ID)
BEGIN
RAISERROR('El usuario no existe.', 16, 1)
RETURN;
END 

DELETE FROM Users WHERE UserID = @ID
END
GO

CREATE OR ALTER PROCEDURE SP_FindUserView 
@UserData VARCHAR(30) AS
BEGIN
IF NOT EXISTS (SELECT 1 FROM VW_Users WHERE [Full Name] LIKE '%' + @UserData + '%' 
OR IdNumber LIKE '%' + @UserData + '%' OR PhoneNumber LIKE '%' + @UserData + '%')
BEGIN
RAISERROR ('No hay usuarios disponibles.', 16, 1)
RETURN;
END 

SELECT * FROM VW_Users WHERE [Full Name] LIKE '%' + @UserData + '%' 
OR IdNumber LIKE '%' + @UserData + '%' OR PhoneNumber LIKE '%' + @UserData + '%'
END
GO

CREATE OR ALTER PROCEDURE SP_AuthenticateUser
@Email VARCHAR(100),
@Password VARCHAR(100)
AS
BEGIN
SET NOCOUNT ON
DECLARE @PassHash VARCHAR(100) = CONVERT(VARCHAR(100), HASHBYTES('SHA2_512', @Password), 2)

IF EXISTS (SELECT * FROM Users WHERE Email = @Email AND PasswordHash = @PassHash)
BEGIN
SELECT 1 AS LoginResult;
RETURN 1
END
ELSE

IF NOT EXISTS (SELECT 1 FROM Users WHERE Email = @Email AND PasswordHash = @PassHash)
BEGIN
SELECT 0 AS LoginResult;
RAISERROR('Datos consultados inválidos.', 16, 1)
RETURN 0
END
END
GO

CREATE OR ALTER PROCEDURE SP_GetEmailUser
@Email VARCHAR(100), 
@Password VARCHAR(100)
AS
BEGIN
SET NOCOUNT ON
DECLARE @PassHash VARCHAR(100) = CONVERT(VARCHAR(100), HASHBYTES('SHA2_512', @Password), 2)
IF EXISTS (SELECT 1 FROM Users WHERE Email = @Email AND PasswordHash = @PassHash)
BEGIN
SELECT * FROM Users WHERE Email = @Email AND PasswordHash = @PassHash
END
ELSE

IF NOT EXISTS (SELECT 1 FROM Users WHERE Email = @Email AND PasswordHash = @PassHash)
BEGIN
RAISERROR('Datos consultados inválidos.', 16, 1)
RETURN 0
END
END
GO

CREATE OR ALTER PROCEDURE SP_EditUserEmail
@Email VARCHAR(100)
AS
BEGIN
SET NOCOUNT ON
IF EXISTS (SELECT 1 FROM Users WHERE Email = @Email)
BEGIN
SELECT * FROM Users WHERE Email = @Email
RETURN 1
END
ELSE

IF NOT EXISTS (SELECT 1 FROM Users WHERE Email = @Email)
BEGIN
RAISERROR('Datos consultados inválidos.', 16, 1)
RETURN 0
END
END
GO

CREATE OR ALTER PROCEDURE SP_GetRoleUser 
@Email VARCHAR(50), 
@Password VARCHAR(100), 
@Role VARCHAR(30) OUTPUT
AS 
BEGIN
DECLARE @PassHash VARCHAR(100) = CONVERT(VARCHAR(100), HASHBYTES('SHA2_512', @Password), 2)
IF NOT EXISTS (SELECT 1 FROM Users WHERE Email = @Email AND PasswordHash = @PassHash)
BEGIN
RAISERROR('No válido.', 16, 1)
RETURN 0
END

SELECT @Role = RoleType FROM Roles WHERE RoleID = (SELECT RoleID FROM Users WHERE Email = @Email AND PasswordHash = @PassHash)
END
GO

--EXEC SP_GetRoleUser 'brayan@gmail.com', '12345!qQ'
--EXEC SP_AuthenticateUser 'brayan@gmail.com', '12345678'
--GO
--------------------------------------------------------------------------------------------------------------------------

---------------------------------------------- SP Brands -----------------------------------------------------------------
CREATE OR ALTER PROCEDURE SP_CreateBrand 
@BrandName VARCHAR(50)
AS
BEGIN 
IF EXISTS (SELECT 1 FROM Brands WHERE BrandName = @BrandName)
BEGIN
RAISERROR('La marca ya existe.', 16, 1)
RETURN
END

INSERT INTO Brands VALUES (@BrandName)
PRINT 'Marca creada correctamente.'
RETURN 
END
GO

CREATE OR ALTER PROCEDURE SP_GetBrandsView AS
BEGIN
SET NOCOUNT ON
SELECT * FROM VW_Brands
END
GO

CREATE OR ALTER PROCEDURE SP_GetBrandView
@BrandID INT 
AS 
BEGIN
IF NOT EXISTS (SELECT 1 FROM VW_Brands WHERE BrandID = @BrandID)
BEGIN
RAISERROR('La marca no existe', 16, 1)
RETURN 
END

SET NOCOUNT ON
SELECT * FROM VW_Brands WHERE BrandID = @BrandID
END
GO

CREATE OR ALTER PROCEDURE SP_EditBrand
@BrandID INT, 
@BrandName VARCHAR(50)
AS
BEGIN
IF EXISTS (SELECT 1 FROM Brands WHERE BrandName = @BrandName AND BrandID != @BrandID)
BEGIN
RAISERROR('La marca ya existe.', 16, 1)
RETURN
END

UPDATE Brands SET
BrandName = @BrandName WHERE BrandID = @BrandID
PRINT 'Marca actualizada correctamente.'
RETURN 
END
GO

CREATE OR ALTER PROCEDURE SP_DeleteBrand
@BrandID INT
AS
BEGIN
IF NOT EXISTS (SELECT 1 FROM Brands WHERE BrandID = @BrandID)
BEGIN
RAISERROR('La marca no existe.', 16, 1)
RETURN
END

DELETE FROM Brands WHERE BrandID = @BrandID
PRINT 'Marca eliminada correctamente.'
RETURN 
END
GO
--5
------------------------------------------------------------------------------------------------------------------

---------------------------------------------- SP Categories -------------------------------------------------------
CREATE OR ALTER PROCEDURE SP_CreateCategory
@CategoryName VARCHAR(20) 
AS 
BEGIN
IF EXISTS (SELECT 1 FROM Categories WHERE CategoryName = @CategoryName)
BEGIN 
RAISERROR('La categoría ya existe.', 16, 1)
RETURN 
END

INSERT INTO Categories (CategoryName) VALUES (@CategoryName)
PRINT 'Categoría agregada correctamente.'
RETURN
END
GO

CREATE OR ALTER PROCEDURE SP_CreateSubCategory
@MainCategory INT,
@CategoryName VARCHAR(20) 
AS 
BEGIN
IF EXISTS (SELECT 1 FROM Categories WHERE CategoryName = @CategoryName)
BEGIN 
RAISERROR('La subcategoría ya existe.', 16, 1)
RETURN 
END

INSERT INTO Categories (MainCategoryID, CategoryName) VALUES (@MainCategory, @CategoryName)
PRINT 'Subcategoría agregada correctamente.'
RETURN
END
GO

CREATE OR ALTER PROCEDURE SP_DeleteCategory 
@CategoryID INT 
AS 
BEGIN
IF NOT EXISTS (SELECT 1 FROM Categories WHERE CategoryID = @CategoryID)
BEGIN
RAISERROR('La categoría o subcategoría no existe.', 16, 1)
RETURN 
END

DELETE FROM Categories WHERE CategoryID = @CategoryID
PRINT 'Categoría o Subcategoría eliminada correctamente.'
RETURN 
END
GO

CREATE OR ALTER PROCEDURE SP_EditCategory 
@CategoryID INT,
@CategoryName VARCHAR(20) AS
BEGIN
IF EXISTS (SELECT 1 FROM Categories WHERE CategoryName = @CategoryName AND CategoryID != @CategoryID)
BEGIN 
RAISERROR('La categoría ya existe.', 16, 1)
RETURN 
END

UPDATE Categories SET
CategoryName = @CategoryName WHERE CategoryID = @CategoryID
PRINT 'Categoría actualizada correctamente.'
RETURN 
END
GO

CREATE OR ALTER PROCEDURE SP_EditSubCategory 
@CategoryID INT,
@MainCategory INT,
@CategoryName VARCHAR(20) AS
BEGIN
IF EXISTS (SELECT 1 FROM Categories WHERE CategoryName = @CategoryName AND CategoryID != @CategoryID)
BEGIN 
RAISERROR('La subcategoría ya existe.', 16, 1)
RETURN 
END

UPDATE Categories SET
MainCategoryID = @MainCategory, CategoryName = @CategoryName
WHERE CategoryID = @CategoryID
PRINT 'Subcategoría actualizada correctamente.'
RETURN 
END
GO

CREATE OR ALTER PROCEDURE SP_GetCategoriesView AS
BEGIN
SET NOCOUNT ON
SELECT * FROM VW_Categories
END 
GO

CREATE OR ALTER PROCEDURE SP_GetCategoryView 
@CategoryID INT AS
BEGIN
IF NOT EXISTS (SELECT 1 FROM Categories WHERE CategoryID = @CategoryID)
BEGIN
RAISERROR('La categoría no existe', 16, 1)
RETURN 
END

SET NOCOUNT ON
SELECT * FROM VW_Categories WHERE CategoryID = @CategoryID
END
GO

CREATE OR ALTER PROCEDURE SP_GetSomeSubCategories 
@MainCategory INT AS
BEGIN
IF NOT EXISTS (SELECT 1 FROM Categories WHERE MainCategoryID = @MainCategory)
BEGIN
RAISERROR('No hay subcategorías disponibles', 16, 1)
RETURN 
END

SET NOCOUNT ON
SELECT * FROM VW_SubCategories WHERE MainCategory = (SELECT CategoryName FROM Categories WHERE CategoryID = @MainCategory)
END
GO

CREATE OR ALTER PROCEDURE SP_GetSubCategoriesView 
AS
BEGIN
SET NOCOUNT ON
SELECT * FROM VW_SubCategories
END 
GO

CREATE OR ALTER PROCEDURE SP_GetSubCategoryView 
@CategoryID INT AS
BEGIN
IF NOT EXISTS (SELECT 1 FROM Categories WHERE CategoryID = @CategoryID)
BEGIN
RAISERROR('La subcategoría no existe', 16, 1)
RETURN 
END

SET NOCOUNT ON
SELECT * FROM VW_SubCategories WHERE CategoryID = @CategoryID
END
GO

CREATE OR ALTER PROCEDURE SP_GetCategory 
@CategoryID INT AS
BEGIN
IF NOT EXISTS (SELECT 1 FROM Categories WHERE CategoryID = @CategoryID)
BEGIN
RAISERROR('La subcategoría no existe', 16, 1)
RETURN 
END

SET NOCOUNT ON
SELECT * FROM Categories WHERE CategoryID = @CategoryID
END
GO
--10
---------------------------------------------------------------------------------------------------------------------

-------------------------------------------------- SP Genres --------------------------------------------------------
CREATE OR ALTER PROCEDURE SP_CreateGenre 
@GenreName VARCHAR(15) 
AS 
BEGIN 
IF EXISTS (SELECT 1 FROM Genres WHERE GenreName = @GenreName)
BEGIN
RAISERROR('El género ya existe.', 16, 1)
RETURN 
END

INSERT INTO Genres VALUES (@GenreName)
PRINT 'Género creado correctamente.'
RETURN 
END
GO

CREATE OR ALTER PROCEDURE SP_DeleteGenre
@GenreID INT 
AS 
BEGIN 
IF NOT EXISTS (SELECT 1 FROM Genres WHERE GenreID = @GenreID)
BEGIN 
RAISERROR('El género no existe.', 16, 1)
RETURN 
END

BEGIN
DELETE FROM Genres WHERE GenreID = @GenreID
PRINT 'Género eliminado correctamente.'
RETURN
END
END
GO

CREATE OR ALTER PROCEDURE SP_EditGenre
@GenreID INT, 
@GenreName VARCHAR (15)
AS
BEGIN
IF EXISTS (SELECT 1 FROM Genres WHERE GenreName = @GenreName AND GenreID != @GenreID)
BEGIN 
RAISERROR('El género ya existe.', 16, 1)
RETURN
END

UPDATE Genres SET
GenreName = @GenreName WHERE GenreID = @GenreID 
PRINT 'Se ha actualizado el género.'
RETURN
END 
GO

CREATE OR ALTER PROCEDURE SP_GetGenre
@GenreID INT
AS
BEGIN 
IF NOT EXISTS (SELECT 1 FROM Genres WHERE GenreID = @GenreID)
BEGIN 
RAISERROR('El género no existe.', 16, 1)
RETURN 
END

SELECT * FROM Genres WHERE GenreID = @GenreID
END 
GO

CREATE OR ALTER PROCEDURE SP_GetGenresView 
AS
BEGIN
SET NOCOUNT ON
SELECT * FROM VW_Genres 
END
GO

CREATE OR ALTER PROCEDURE SP_GetGenreView
@GenreID INT
AS
BEGIN 
IF NOT EXISTS (SELECT 1 FROM VW_Genres WHERE GenreID = @GenreID)
BEGIN 
RAISERROR('El género no existe.', 16, 1)
RETURN 
END

SELECT * FROM VW_Genres WHERE GenreID = @GenreID
END 
GO
--6
----------------------------------------------------------------------------------------------------------------

---------------------------------------------------- SP Products -----------------------------------------------
CREATE OR ALTER PROCEDURE SP_CreateProduct 
@BrandID INT,
@CategoryID INT,
@ProductName VARCHAR(100),
@Description VARCHAR(400),
@Price DECIMAL(12, 2),
@Stock INT,
@Image IMAGE
AS 
BEGIN
IF EXISTS (SELECT 1 FROM Products WHERE ProductName = @ProductName)
BEGIN
RAISERROR('El producto ya existe.', 16, 1)
RETURN 
END

INSERT INTO Products VALUES (@BrandID, @CategoryID, @ProductName, @Description, @Price, @Stock, @Image)
PRINT 'Producto creado correctamente.'
RETURN 
END
GO

CREATE OR ALTER PROCEDURE SP_DeleteProduct
@ProductID INT AS
BEGIN
IF NOT EXISTS (SELECT 1 FROM Products WHERE ProductID = @ProductID)
BEGIN
RAISERROR('El producto no existe.', 16, 1)
RETURN 
END

DELETE FROM Products WHERE ProductID = @ProductID
PRINT 'Producto eliminado correctamente.'
RETURN
END
GO

CREATE OR ALTER PROCEDURE SP_EditProduct
@ProductID INT,
@BrandID INT,
@CategoryID INT,
@ProductName VARCHAR(100),
@Description VARCHAR(400),
@Price DECIMAL(12, 2),
@Stock INT, 
@Image IMAGE
AS 
BEGIN
IF EXISTS (SELECT 1 FROM Products WHERE ProductName = @ProductName AND ProductID != @ProductID)
BEGIN
RAISERROR('El producto ya existe.', 16, 1)
RETURN 
END

UPDATE Products SET
BrandID = @BrandID, CategoryID = @CategoryID, ProductName = @ProductName, ProductDescription = @Description, 
UnitPrice = @Price, Stock = @Stock, ProductImage = @Image WHERE ProductID = @ProductID
PRINT 'Producto actualizado correctamente.'
RETURN 
END
GO

CREATE OR ALTER PROCEDURE SP_GetProductsView AS
BEGIN
SET NOCOUNT ON
SELECT * FROM VW_Products
END
GO

CREATE OR ALTER PROCEDURE SP_GetProductsWithBrand
@ID INT
AS
BEGIN
IF NOT EXISTS (SELECT 1 FROM Products WHERE BrandID = @ID)
BEGIN
RAISERROR('No hay productos disponibles.', 16, 1)
RETURN 
END

SET NOCOUNT ON
SELECT * FROM VW_Products WHERE BrandName = (SELECT BrandName FROM Brands WHERE BrandID = @ID)
END
GO

CREATE OR ALTER PROCEDURE SP_GetProductsWithCategory
@ID INT
AS
BEGIN
IF NOT EXISTS (SELECT 1 FROM Products WHERE BrandID = @ID)
BEGIN
RAISERROR('No hay productos disponibles.', 16, 1)
RETURN 
END

SET NOCOUNT ON
SELECT * FROM VW_Products WHERE CategoryName = (SELECT CategoryName FROM Categories WHERE CategoryID = @ID)
END
GO

CREATE OR ALTER PROCEDURE SP_GetProductView 
@ID INT
AS
BEGIN
IF NOT EXISTS (SELECT 1 FROM VW_Products WHERE ProductID = @ID)
BEGIN
RAISERROR('El producto no existe.', 16, 1)
RETURN 
END

SELECT * FROM VW_Products WHERE ProductID = @ID
END
GO

CREATE OR ALTER PROCEDURE SP_GetProduct
@ID INT
AS
BEGIN
IF NOT EXISTS (SELECT 1 FROM Products WHERE ProductID = @ID)
BEGIN
RAISERROR('El producto no existe.', 16, 1)
RETURN 
END

SELECT * FROM Products WHERE ProductID = @ID
END
GO
--7
----------------------------------------------------------------------------------------------------------------

----------------------------------------- SP Roles -------------------------------------------------------------
CREATE OR ALTER PROCEDURE SP_CreateRole 
@RoleName VARCHAR(20)
AS 
BEGIN
IF EXISTS (SELECT 1 FROM Roles WHERE RoleType = @RoleName)
BEGIN
RAISERROR('El tipo de rol ya existe.', 16, 1)
RETURN;
END

INSERT INTO Roles VALUES (@RoleName)
PRINT 'El rol ha sido agregado correctamente.'
END
GO

CREATE OR ALTER PROCEDURE SP_DeleteRole 
@RoleID INT
AS
BEGIN
IF NOT EXISTS (SELECT RoleID FROM Roles WHERE RoleID = @RoleID)
BEGIN
RAISERROR('El tipo de rol no existe.', 16, 1)
RETURN;
END

DELETE FROM Roles WHERE RoleID = @RoleID
PRINT 'Se eliminó el rol correctamente.'
END
GO

CREATE OR ALTER PROCEDURE SP_EditRole
@RoleID INT,
@RoleName VARCHAR(20)
AS 
BEGIN
IF EXISTS (SELECT 1 FROM Roles WHERE RoleType = @RoleName AND RoleID != @RoleID)
BEGIN
RAISERROR('El tipo de rol ya existe.', 16, 1)
RETURN;
END

UPDATE Roles SET
RoleType = @RoleName WHERE RoleID = @RoleID
PRINT 'El rol ha sido actualizado correctamente.'
END
GO

CREATE OR ALTER PROCEDURE SP_GetRole
@RoleID INT 
AS
BEGIN
SELECT * FROM Roles WHERE RoleID = @RoleID
END
GO

CREATE OR ALTER PROCEDURE SP_GetRoleView
@RoleID INT 
AS
BEGIN
SELECT * FROM VW_Roles WHERE RoleID = @RoleID
END
GO

CREATE OR ALTER PROCEDURE SP_GetRolesView
AS
BEGIN
SET NOCOUNT ON
SELECT * FROM VW_Roles
END
GO
--6
-----------------------------------------------------------------------------------------------------------------

----------------------------------------------- SP ID Types -----------------------------------------------------
CREATE OR ALTER PROCEDURE SP_CreateIdentification 
@IDType VARCHAR(20) 
AS
BEGIN
IF EXISTS (SELECT 1 FROM IdentificationTypes WHERE IDType = @IDType)
BEGIN
RAISERROR('El tipo de identificación ya existe.', 16, 1)
RETURN 
END

INSERT INTO IdentificationTypes VALUES (@IDType)
PRINT 'Tipo de identificación creado correctamente.'
END
GO

CREATE OR ALTER PROCEDURE SP_DeleteIdentification 
@ID INT
AS 
BEGIN 
IF NOT EXISTS (SELECT 1 FROM IdentificationTypes WHERE TypeID = @ID)
BEGIN
RAISERROR('El tipo de identificación no fue encontrado o no existe.', 16, 1)
RETURN;
END
ELSE 

DELETE FROM IdentificationTypes WHERE TypeID = @ID
PRINT 'Se ha eliminado el tipo de identificación con éxito.'
END
GO

CREATE OR ALTER PROCEDURE SP_EditIdentification 
@ID INT, 
@Type VARCHAR(20) AS
BEGIN 
IF EXISTS (SELECT 1 FROM IdentificationTypes WHERE IdType = @Type AND TypeID != @ID)
BEGIN
RAISERROR('El tipo de identificación ya existe.', 16, 1)
RETURN;
END

UPDATE IdentificationTypes SET
IDType = @Type WHERE TypeID = @ID
PRINT 'Se ha modificado la identificación con éxito.'
END
GO

CREATE OR ALTER PROCEDURE SP_GetIdentifications
AS
BEGIN
SET NOCOUNT ON
SELECT * FROM IdentificationTypes
END
GO

CREATE OR ALTER PROCEDURE SP_GetIdentification
@ID INT AS
BEGIN
IF NOT EXISTS (SELECT 1 FROM IdentificationTypes WHERE TypeID = @ID)
BEGIN
RAISERROR('El tipo de identificación no fue encontrado o no existe.', 16, 1)
RETURN;
END

SELECT * FROM IdentificationTypes WHERE TypeID = @ID
END 
GO

CREATE OR ALTER PROCEDURE SP_GetIdentificationsView
AS
BEGIN
SELECT * FROM VW_Identifications
END
GO

CREATE OR ALTER PROCEDURE SP_GetIdentificationView
@ID INT AS
BEGIN
IF NOT EXISTS (SELECT * FROM VW_Identifications WHERE TypeID = @ID)
BEGIN
RAISERROR('El tipo de identificación no fue encontrado o no existe.', 16, 1)
RETURN;
END

SELECT * FROM VW_Identifications WHERE TypeID = @ID
END 
GO
--7
----------------------------------------------------------------------------------------------------------------------

---------------------------------------------------SP Provinces ------------------------------------------------------

CREATE OR ALTER PROCEDURE SP_GetProvince
@ProvinceID INT 
AS 
BEGIN
IF NOT EXISTS (SELECT 1 FROM Provinces WHERE ProvinceID = @ProvinceID)
BEGIN
RAISERROR('La provincia no existe.', 16, 1)
END

SELECT * FROM Provinces WHERE ProvinceID = @ProvinceID
END
GO

CREATE OR ALTER PROCEDURE SP_GetProvincesView
AS
BEGIN
SET NOCOUNT ON
SELECT * FROM VW_Provinces ORDER BY ProvinceID
END
GO

CREATE OR ALTER PROCEDURE SP_GetProvinceView
@ProvinceID INT 
AS 
BEGIN
IF NOT EXISTS (SELECT 1 FROM VW_Provinces WHERE ProvinceID = @ProvinceID)
BEGIN
RAISERROR('La provincia no existe.', 16, 1)
END

SELECT * FROM VW_Provinces WHERE ProvinceID = @ProvinceID
END
GO

--3
---------------------------------------------------------------------------------------------------------------------

-------------------- SP Specialties ---------------------------------------------------------------------------------
CREATE OR ALTER PROCEDURE SP_GetSpecialtiesView 
AS BEGIN
SELECT * FROM VW_Specialties
END
GO

CREATE OR ALTER PROCEDURE SP_GetSpecialtyView 
@ID INT 
AS 
BEGIN
IF NOT EXISTS (SELECT 1 FROM VW_Specialties WHERE SpecialtyID = @ID)
BEGIN
RAISERROR('La especialidad no existe.', 16, 1)
RETURN 
END

SELECT * FROM VW_Specialties WHERE SpecialtyID = @ID
END
GO

CREATE OR ALTER PROCEDURE SP_CreateSpecialty 
@SpecialtyName VARCHAR(50)
AS
BEGIN
IF EXISTS (SELECT 1 FROM Specialties WHERE SpecialtyName = @SpecialtyName)
BEGIN
RAISERROR('La especialidad ya existe.',  16, 1)
RETURN 
END

INSERT INTO Specialties VALUES (@SpecialtyName)
PRINT 'Especialidad creada correctamente.'
RETURN 
END
GO

CREATE OR ALTER PROCEDURE SP_EditSpecialty 
@ID INT, 
@SpecialtyName VARCHAR(50)
AS
BEGIN
IF EXISTS (SELECT 1 FROM Specialties WHERE SpecialtyName = @SpecialtyName AND SpecialtyID != @ID)
BEGIN
RAISERROR('La especialidad ya existe.',  16, 1)
RETURN 
END

UPDATE Specialties SET
SpecialtyName = @SpecialtyName WHERE SpecialtyID = @ID
PRINT 'Especialidad actualizada correctamente.'
RETURN 
END
GO

CREATE OR ALTER PROCEDURE SP_DeleteSpecialty 
@ID INT 
AS 
BEGIN
IF NOT EXISTS (SELECT 1 FROM Specialties WHERE SpecialtyID = @ID)
BEGIN
RAISERROR('La especialidad no existe.', 16, 1)
RETURN 
END

DELETE FROM Specialties WHERE SpecialtyID = @ID
PRINT 'Especialidad eliminada correctamente.'
END
GO

--5
-----------------------------------------------------------------------------

---------------------- SP Appointments --------------------------------------
CREATE OR ALTER PROCEDURE SP_GetAppointmentsView
AS
BEGIN
SET NOCOUNT ON
SELECT * FROM VW_Appointments 
END 
GO

CREATE OR ALTER PROCEDURE SP_GetAdminAppointmentsView
AS
BEGIN
SET NOCOUNT ON
SELECT * FROM VW_AdminAppointments 
END 
GO

CREATE OR ALTER PROCEDURE SP_GetAppointmentView
@ID INT 
AS
BEGIN
SELECT * FROM VW_Appointments WHERE AppointmentID = @ID
END 
GO

CREATE OR ALTER PROCEDURE SP_GetAdminAppointmentView
@ID INT 
AS
BEGIN
SELECT * FROM VW_AdminAppointments WHERE AppointmentID = @ID
END 
GO

CREATE OR ALTER PROCEDURE SP_GetAppointment
@ID INT 
AS
BEGIN
SELECT * FROM Appointments WHERE AppointmentID = @ID
END 
GO

CREATE OR ALTER PROCEDURE SP_FindAppointmentView 
@ID INT AS
BEGIN
IF NOT EXISTS (SELECT 1 FROM VW_Appointments WHERE SpecialtyName = (SELECT SpecialtyName FROM Specialties WHERE SpecialtyID = @ID))
BEGIN
RAISERROR ('No hay citas disponibles.', 16, 1)
RETURN;
END 

SELECT * FROM VW_Appointments
WHERE SpecialtyName = (SELECT SpecialtyName FROM Specialties WHERE SpecialtyID = @ID)
END
GO

CREATE OR ALTER PROCEDURE SP_CreateAppointment
@DoctorID INT,
@SpecialtyID INT,
@StartTime DATETIME,
@EndTime DATETIME
AS
BEGIN
IF EXISTS (SELECT 1 FROM Appointments WHERE StartTime = @StartTime AND EndTime = @EndTime)
BEGIN
RAISERROR('Ya existe una cita a esa hora.', 16, 1)
RETURN
END

INSERT INTO Appointments VALUES (NULL, @DoctorID, @SpecialtyID, @StartTime, @EndTime)
PRINT 'Cita creada correctamente.'
END
GO

CREATE OR ALTER PROCEDURE SP_EditAppointment
@AppointmentID INT,
@DoctorID INT,
@SpecialtyID INT,
@StartTime DATETIME,
@EndTime DATETIME
AS
BEGIN
IF EXISTS (SELECT 1 FROM Appointments WHERE StartTime = @StartTime AND EndTime = @EndTime AND AppointmentID != @AppointmentID)
BEGIN
RAISERROR('Ya existe una cita a esa hora.', 16, 1)
RETURN
END

UPDATE Appointments SET DoctorID = @DoctorID, SpecialtyID = @SpecialtyID, 
StartTime = @StartTime, EndTime = @EndTime WHERE AppointmentID = @AppointmentID
PRINT 'Cita actualizada correctamente.'
END
GO

CREATE OR ALTER PROCEDURE SP_ConfirmAppointment
@AppointmentID INT,
@Email VARCHAR(30)
AS
BEGIN
IF EXISTS (SELECT 1 FROM Appointments WHERE AppointmentID = @AppointmentID AND UserID != 
 (SELECT UserID FROM Users WHERE Email = @Email))
BEGIN
RAISERROR('Ya esta cita está reservada.', 16, 1)
RETURN
END
ELSE 

BEGIN
UPDATE Appointments SET UserID = (SELECT UserID FROM Users WHERE Email = @Email) WHERE AppointmentID = @AppointmentID
PRINT 'Cita confirmada correctamente.'
END
END
GO

CREATE OR ALTER PROCEDURE SP_CancelAppointment
@AppointmentID INT,
@Email VARCHAR(30)
AS
BEGIN
IF EXISTS (SELECT 1 FROM Appointments WHERE UserId != (SELECT UserID FROM Users WHERE Email = @Email) AND AppointmentID = @AppointmentID)
BEGIN
RAISERROR('Usted no fue quien confirmó la cita.', 16, 1)
RETURN
END 
ELSE 

UPDATE Appointments SET UserID = NULL WHERE AppointmentID = @AppointmentID
AND UserID = (SELECT UserID FROM Users WHERE Email = @Email)
PRINT 'Cita cancelada correctamente.'
END
GO

CREATE OR ALTER PROCEDURE SP_DeleteAppointment
@AppointmentID INT
AS
BEGIN
IF NOT EXISTS (SELECT 1 FROM Appointments WHERE AppointmentID = @AppointmentID)
BEGIN
RAISERROR('La cita no existe.', 16, 1)
RETURN 
END

DELETE FROM Appointments WHERE AppointmentID = @AppointmentID
PRINT 'Cita eliminada correctamente.'
END
GO
--11
-----------------------------------------------------------------------------------------------------------------------


------------------------------------ Triggers de la BD -----------------------------------------------------------------
CREATE OR ALTER TRIGGER UserCreated
ON Users
FOR INSERT
AS
BEGIN
    DECLARE @FullName VARCHAR(100)
    DECLARE @Motive VARCHAR(100)
    DECLARE @Hour DATETIME
	DECLARE @Creator VARCHAR(50)

    SELECT @FullName = CONCAT(I.[UserName], ' ', I.[FirstName], ' ', I.LastName),
	       @Creator = USER_NAME(),
           @Motive = 'Se ha creado un usuario.',
           @Hour = GETDATE()
    FROM INSERTED I

    INSERT INTO UsersTriggers
    VALUES (@Creator, @FullName, @Motive, @Hour)
END
GO
ALTER TABLE Users ENABLE TRIGGER UserCreated
GO

CREATE OR ALTER TRIGGER UserEdited
ON Users
AFTER UPDATE
AS
BEGIN
    DECLARE @FullName VARCHAR(100)
    DECLARE @Motive VARCHAR(100)
    DECLARE @Hour DATETIME
	DECLARE @Creator VARCHAR(50)

    SELECT @FullName = CONCAT(INSERTED.[UserName], ' ', INSERTED.[FirstName], ' ', INSERTED.LastName),
	       @Creator = USER_NAME(),
           @Motive = 'Se ha editado un usuario.',
           @Hour = GETDATE()
    FROM INSERTED

    INSERT INTO UsersTriggers
    VALUES (@Creator, @FullName, @Motive, @Hour)
END
GO
ALTER TABLE Users ENABLE TRIGGER UserEdited
GO

CREATE OR ALTER TRIGGER UserDeleted
ON Users
FOR DELETE
AS
BEGIN
    DECLARE @FullName VARCHAR(100)
    DECLARE @Motive VARCHAR(100)
    DECLARE @Hour DATETIME
	DECLARE @Creator VARCHAR(50)

    SELECT @FullName = CONCAT(I.[UserName], ' ', I.[FirstName], ' ', I.LastName),
	       @Creator = USER_NAME(),
           @Motive = 'Se ha eliminado un usuario.',
           @Hour = GETDATE()
    FROM DELETED I

    INSERT INTO UsersTriggers
    VALUES (@Creator, @FullName, @Motive, @Hour)
END
GO
ALTER TABLE Users ENABLE TRIGGER UserDeleted
GO

SELECT * FROM UsersTriggers
GO
---------------------------------------------------------------------------------------------------------------------------------

---------------------------------------------- SP Doctors -----------------------------------------------------------------------
CREATE OR ALTER PROCEDURE SP_GetDoctorsView 
AS
BEGIN
SET NOCOUNT ON
SELECT * FROM VW_Doctors
END
GO

CREATE OR ALTER PROCEDURE SP_GetDoctorView
@ID INT 
AS 
BEGIN
IF NOT EXISTS (SELECT 1 FROM VW_Doctors WHERE DoctorID = @ID)
BEGIN
RAISERROR('El doctor no existe.', 16, 1)
RETURN 
END

SELECT * FROM VW_Doctors WHERE DoctorID = @ID
END
GO

CREATE OR ALTER PROCEDURE SP_GetDoctor
@ID INT 
AS 
BEGIN
IF NOT EXISTS (SELECT 1 FROM Doctors WHERE DoctorID = @ID)
BEGIN
RAISERROR('El doctor no existe.', 16, 1)
RETURN 
END

SELECT * FROM Doctors WHERE DoctorID = @ID
END
GO

CREATE OR ALTER PROCEDURE SP_CreateDoctor
@TypeID INT,
@SpecialtyID INT,
@GenreID INT,
@IDNumber VARCHAR(11),
@DoctorName VARCHAR(20),
@FirstName VARCHAR(30),
@LastName VARCHAR(20),
@BirthDate DATE, 
@Email VARCHAR(50),
@Phone VARCHAR(9),
@Photo IMAGE
AS
BEGIN 
IF NOT @IDNumber LIKE '[1-8]-[0-9][0-9][0-9][0-9]-[0-9][0-9][0-9][0-9]'
BEGIN
RAISERROR ('El número de cédula no tiene el formato correcto.', 16, 1);
RETURN;
END

IF EXISTS (SELECT 1 FROM Doctors WHERE IdNumber = @IDNumber)
BEGIN
RAISERROR ('El número de cédula ya existe.', 16, 1);
RETURN;
END
ELSE 

IF NOT @Phone LIKE '[2,5,6,7,8][0-9][0-9][0-9]-[0-9][0-9][0-9][0-9]'
BEGIN
RAISERROR ('El número de teléfono no tiene el formato correcto.', 16, 1);
RETURN;
END

IF EXISTS (SELECT 1 FROM Doctors WHERE PhoneNumber = @Phone)
BEGIN
RAISERROR ('El número de teléfono ya existe.', 16, 1);
RETURN;
END
ELSE 

IF NOT @Email LIKE '%_@_%._%'
BEGIN
RAISERROR ('El correo electrónico no tiene el formato correcto.', 16, 1);
RETURN;
END
ELSE

IF EXISTS (SELECT 1 FROM Doctors WHERE Email = @Email)
BEGIN
RAISERROR ('El correo electrónico ya existe.', 16, 1);
RETURN;
END

INSERT INTO Doctors VALUES (@TypeID, @SpecialtyID, @GenreID, @IDNumber, @DoctorName, @FirstName, @LastName, @BirthDate, 
@Email, @Phone, @Photo)
PRINT 'Doctor creado correctamente.' 
RETURN 
END
GO

CREATE OR ALTER PROCEDURE SP_EditDoctor
@DoctorID INT,
@TypeID INT,
@SpecialtyID INT,
@GenreID INT,
@IDNumber VARCHAR(11),
@DoctorName VARCHAR(20),
@FirstName VARCHAR(30),
@LastName VARCHAR(20),
@BirthDate DATE, 
@Email VARCHAR(50),
@Phone VARCHAR(9),
@Photo IMAGE
AS
BEGIN 
IF @IDNumber NOT LIKE '[1-8]-[0-9][0-9][0-9][0-9]-[0-9][0-9][0-9][0-9]'
BEGIN
RAISERROR ('El número de cédula no tiene el formato correcto.', 16, 1);
RETURN;
END

IF EXISTS (SELECT 1 FROM Doctors WHERE IdNumber = @IDNumber AND DoctorId != @DoctorID)
BEGIN
RAISERROR ('El número de cédula ya existe.', 16, 1);
RETURN;
END
ELSE 

IF @Phone NOT LIKE '[2,5,6,7,8][0-9][0-9][0-9]-[0-9][0-9][0-9][0-9]'
BEGIN
RAISERROR ('El número de teléfono no tiene el formato correcto.', 16, 1);
RETURN;
END

IF EXISTS (SELECT 1 FROM Doctors WHERE PhoneNumber = @Phone AND DoctorId != @DoctorID)
BEGIN
RAISERROR ('El número de teléfono ya existe.', 16, 1);
RETURN;
END
ELSE 

IF @Email NOT LIKE '%_@_%._%'
BEGIN
RAISERROR ('El correo electrónico no tiene el formato correcto.', 16, 1);
RETURN;
END
ELSE

IF EXISTS (SELECT 1 FROM Doctors WHERE Email = @Email AND DoctorId != @DoctorID)
BEGIN
RAISERROR ('El correo electrónico ya existe.', 16, 1);
RETURN;
END

UPDATE Doctors SET TypeID = @TypeID, SpecialtyID = @SpecialtyID, GenreID = @GenreID, 
IdNumber = @IDNumber, DoctorName = @DoctorName, FirstName = @FirstName, LastName = @LastName, 
BirthDate = @BirthDate, Email = @Email, PhoneNumber = @Phone, DoctorPhoto = @Photo
WHERE DoctorID = @DoctorID
PRINT 'Doctor actualizado correctamente.' 
RETURN 
END 
GO

CREATE OR ALTER PROCEDURE SP_DeleteDoctor
@ID INT
AS 
BEGIN
IF NOT EXISTS (SELECT 1 FROM Doctors WHERE DoctorID = @ID)
BEGIN
RAISERROR('El dato no existe', 16, 1)
RETURN
END

DELETE FROM Doctors WHERE DoctorID = @ID
PRINT 'Doctor/a eliminado correctamente'
END
GO

----------------------------------------------------------------------------------------------------------------------------------------

----------------------------------------- Inserts a Tablas -----------------------------------------------
INSERT INTO IdentificationTypes VALUES ('Nacional'), ('Juridica')
GO

INSERT INTO Genres VALUES ('Femenino'), ('Masculino')
GO

INSERT INTO Categories VALUES (NULL, 'Higiene Bucal'), (1, 'Pasta de Dientes')
GO

INSERT INTO Roles VALUES ('Admin'), ('User')
GO

INSERT INTO Brands VALUES ('Colgate')
GO

EXEC SP_CreateSpecialty 'Odontología General'
GO

INSERT INTO Provinces VALUES ('San José'), ('Alajuela'), ('Cartago'), ('Heredia'), ('Guanacaste'), ('Puntarenas'), ('Limón')

EXEC SP_CreateAdminUser 1, 2, 1, '1-1111-1111', 'Brayan', 'Rivas', 'López', '2002/09/24', 'brayan@gmail.com', '8888-8887', 'Frente al estadio nacional', '12345678'
GO

EXEC SP_GetUsersView
GO

EXEC SP_CreateDoctor 1, 1, 1, '2-2222-2222', 'Prueba', 'Prueba', 'Prueba', '1990-01-01', 'prueba@gmail.com', '8777-7778', null
GO

EXEC SP_GetDoctorsView
GO

EXEC SP_CreateAppointment 1, 1, '2023/09/28 10:00', '2023/09/28 11:00'
GO
 
EXEC SP_GetAppointmentsView
GO

EXEC SP_GetAdminAppointmentsView
GO

EXEC SP_ConfirmAppointment 1, 'brayan@gmail.com'
GO

--EXEC SP_CancelAppointment 1, 'brayan@gmail.com'
--GO
-------------------------------------------------------------------------------------------------------------------------------------------------------

--------------------------------------------- SP Procedures -------------------------------------------------
CREATE OR ALTER PROCEDURE SP_GetProceduresView 
AS
BEGIN
SET NOCOUNT ON
SELECT * FROM VW_Procedures
END
GO

CREATE OR ALTER PROCEDURE SP_GetProcedureView 
@ID INT 
AS 
BEGIN
IF NOT EXISTS (SELECT 1 FROM ClinicProcedures WHERE ProcedureID = @ID)
BEGIN
RAISERROR('El procedimiento no existe.', 16, 1)
RETURN
END

SET NOCOUNT ON
SELECT * FROM VW_Procedures WHERE ProcedureID = @ID
END
GO

CREATE OR ALTER PROCEDURE SP_CreateProcedure
@Procedure VARCHAR(100) 
AS 
BEGIN
IF EXISTS (SELECT 1 FROM ClinicProcedures WHERE ProcedureName = @Procedure)
BEGIN
RAISERROR('El procedimiento existe.', 16, 1)
RETURN
END

SET NOCOUNT ON
INSERT INTO ClinicProcedures VALUES (@Procedure)
END
GO

CREATE OR ALTER PROCEDURE SP_EditProcedure
@ID INT,
@Procedure VARCHAR(100) 
AS 
BEGIN
IF EXISTS (SELECT 1 FROM ClinicProcedures WHERE ProcedureName = @Procedure AND ProcedureID != @ID)
BEGIN
RAISERROR('El procedimiento existe.', 16, 1)
RETURN
END

SET NOCOUNT ON
UPDATE ClinicProcedures SET ProcedureName = @Procedure WHERE ProcedureID = @ID
END
GO

CREATE OR ALTER PROCEDURE SP_DeleteProcedure
@ID INT 
AS 
BEGIN
IF NOT EXISTS (SELECT 1 FROM ClinicProcedures WHERE ProcedureID = @ID)
BEGIN
RAISERROR('El procedimiento no existe.', 16, 1)
RETURN
END

SET NOCOUNT ON
DELETE FROM ClinicProcedures WHERE ProcedureID = @ID
END
GO

EXEC SP_CreateProcedure 'Endodoncia'
GO

EXEC SP_CreateProcedure 'Extracción Dental'
GO
-------------------------------------------------------------------------------------------------------------------------

---------------------------------------------- SP Records ---------------------------------------------------------------
CREATE OR ALTER PROCEDURE SP_GetRecordsView 
AS
SET NOCOUNT ON
SELECT * FROM VW_Records
GO

CREATE OR ALTER PROCEDURE SP_GetRecordView
@ID INT 
AS 
BEGIN
IF NOT EXISTS (SELECT 1 FROM VW_Records WHERE RecordID = @ID)
BEGIN
RAISERROR('El registro no existe.', 16, 1)
RETURN 
END

SELECT * FROM VW_Records WHERE RecordID = @ID
END 
GO

CREATE OR ALTER PROCEDURE SP_GetRecord
@ID INT 
AS 
BEGIN
IF NOT EXISTS (SELECT 1 FROM PatientRecords WHERE RecordID = @ID)
BEGIN
RAISERROR('El registro no existe.', 16, 1)
RETURN 
END

SELECT * FROM PatientRecords WHERE RecordID = @ID
END 
GO

CREATE OR ALTER PROCEDURE SP_GetPatientRecord
@ID INT 
AS 
BEGIN
IF NOT EXISTS (SELECT 1 FROM VW_Records WHERE [Patient Name] = (SELECT UserName + ' ' + FirstName + ' ' + LastName AS 'Patient' 
FROM Users WHERE UserID = @ID))
BEGIN
RAISERROR('No existen registros para este paciente.', 16, 1)
RETURN 
END

SELECT * FROM VW_Records WHERE [Patient Name] = (SELECT UserName + ' ' + FirstName + ' ' + LastName AS 'Patient' 
FROM Users WHERE UserID = @ID)
END 
GO

CREATE OR ALTER PROCEDURE SP_CreateRecord
@UserID INT, 
@DoctorID INT, 
@ProcedureID INT,
@Diagnoses VARCHAR(450),
@Symptoms VARCHAR(450),
@Treatment VARCHAR(450)
AS
BEGIN

INSERT INTO PatientRecords VALUES (@UserID, @DoctorID, @ProcedureID, @Diagnoses, @Symptoms, @Treatment, GETDATE())
END
GO

CREATE OR ALTER PROCEDURE SP_EditRecord
@ID INT, 
@Diagnoses VARCHAR(450),
@Symptoms VARCHAR(450),
@Treatment VARCHAR(450)
AS
BEGIN

UPDATE PatientRecords SET Diagnoses = @Diagnoses, Symptoms = @Symptoms, Treatment = @Treatment, RecordDate = GETDATE() 
WHERE RecordID = @ID
END
GO

CREATE OR ALTER PROCEDURE SP_DeleteRecord
@ID INT
AS
BEGIN
IF NOT EXISTS (SELECT 1 FROM PatientRecords WHERE RecordID = @ID)
BEGIN
RAISERROR('El registro no existe.', 16, 1)
RETURN 
END

DELETE FROM PatientRecords WHERE RecordID = @ID
END
GO

EXEC SP_CreateRecord 1, 1, 2, 'Carie encontrada en la muela izquierda inferior',
'Dolor excesivo, inflamación', 'Extracción de la muela, junto con antibioticos para el dolor'
GO

EXEC SP_EditRecord 1, 'Carie encontrada en la muela izquierda inferior',
'Dolor excesivo, inflamación', 'Extracción de la muela, junto con antibioticos para el dolor, además de comer alimentos helados para aliviar el dolor'
GO
---------------------------------------------------------------



